[2019-08-06 11:10] u01jmg3 commented on #231
Happy to review a draft PR with a change to the current behaviour if you want to pull something together.

[2019-08-06 11:56] machfr commented on #233
Does not seem to have fixed the issue

[2019-08-06 13:12] machfr commented on #234
I tried to implement the correction from #232 (I think I did it correctly)
But It seems it is not working, the test file I am trying to use is (I can make this public as it is just test data): https://calendar.google.com/calendar/ical/rtaotivcoe06p16ji6ilem6i4o%40group.calendar.google.com/public/basic.ics

I want to add that as far as I can see it shows correct on the start date BUT when it has a

[2019-08-06 18:16] garciagaston commented on #230
I attached the ICS file and the warning logs on PHP 7.2.20

WEB.WARNING: mb_split(): Pattern is not valid under UTF-8 encoding #0 [internal function]: Logs\Handler\Error::handler(2, 'mb_split(): Pat...', 2222, Array) #1 /vendor/johngrogg/ics-parser/src/ICal/ICal.php(2222): mb_split('\x85', 'BEGIN:VCALENDAR') #2 /vendor/johngrogg/ics-parser/src/ICal/ICal.php(2266): ICal\ICal->mb_str_replace('\x85',

[2019-08-06 19:07] scottatmonk opened #235 "Support 'RRULE:FREQ=MONTHLY;BYDAY=1SU,3SU;UNTIL=xxxxx"
PHP Version: 7.3.1
    ICS Parser Version: 2.1.13
    Mac

Description of the Issue:

RRULE:FREQ=MONTHLY;BYDAY=1SU,3SU;UNTIL=xxxxx is leaving off second day ie. ,3SU

[2019-08-06 21:49] s0600204 commented on #235
(Duplicate of #15, is it not?)

[2019-08-06 21:52] u01jmg3 commented on #235
Closing in favour of #156

@scottatmonk: happy to accept a PR should you wish to have this functionality

[2019-08-06 21:52] #235 closed

[2019-08-06 23:26] s0600204 commented on #234
Looking into this, the erroneous times appear to only be added if the timezone of the php environment (which can be changed via `date_default_timezone_set()`) is a [php-recognisable timezone](https://www.php.net/manual/en/timezones.php) other than "UTC".

At a guess, this might be something to do with the fact we're parsing the iCal Date string (without any timezone context) with `new DateTime()`

[2019-08-06 23:27] s0600204 commented on #230
(The line numbers in the warnings appear to line up with the parser code as it was at v.`2.1.5`.)

I, too, cannot get the warnings to appear with php 7.2.x

[2019-08-06 23:29] s0600204 commented on #233
Looking into this, it seems to happen only if the timezone of the php environment is not UTC/GMT **and** `useTimeZoneWithRRules` is `true`. Setting php's timezone (via `date_default_timezone_set()`) to "UTC" **or** passing `useTimeZoneWithRRules` as `false`, appears to rectify the problem.

----

The aforementioned PR happens to remove the `useTimeZoneWithRRules` parameter entirely. So yeah: that

[2019-08-07 08:07] machfr commented on #233
Seems like forcing it to UTC is working (I tried to set it to Europe/London which did not), will test some more with it

[2019-08-07 16:49] u01jmg3 commented on #233
Closed by #232

[2019-08-07 16:49] #233 closed

[2019-08-07 16:53] s0600204 commented on #233
(`Europe/London` alternates between UTC and BST ("British Summer Time"; UTC+1) depending on the time of year. So in this case the recurrences that fall in winter will most likely have the correct time, those that fall in summer will not.)

[2019-08-10 22:59] alexander-47u commented on #231
For me it is also messed up with weekly recurrence. I enter recurrence, every other week in September, 8, 22th etc. But somehow it parses the ics file and enters the 8th, 15th and the 29th.

https://calendar.google.com/calendar/ical/h04e326l112aeu1oik959ovbkg%40group.calendar.google.com/private-624e89a537d5a9a9f1609830933a8814/basic.ics

This is the file that is failing on me.

[2019-08-11 00:35] u01jmg3 commented on #231
@alexander-47u: if you are experiencing an issue with the parser please kindly raise a new issue filling in the template which provides me with the necessary information to investigate your problem further.

[2019-08-13 08:27] fogx opened #237 "No Events without RRule"
Hi, im trying to use the ICS-Parser to parse a google calendar. It works fine with reocurring events, but i just noticed that no event without a RRule is shown at all.
Im using the example script with these ical settings:
[code]
and
`init url(google cal private url, $username = null, $password = null, $userAgent = null)`

I attached the output of the google calendar (ABC no RRULE) and the ICS Pars

[2019-08-13 11:50] fogx commented on #237
adding a valid rrule entry such as `RRULE:FREQ=WEEKLY;BYDAY=WE` to the event will make it display properly again

[2019-08-15 07:37] pikim opened #238 "Recurrence rule: last event missing"
- PHP Version: 7.2.10
- PHP Default timezone: UTC
    - PHP date.timezone: no value
- ICS Parser Version: 2.1.13
- Linux

### Description of the Issue:
The last event of a recurrence rule is missing. In the attached file is an recurring event with

[code]

This should result in 7 events with the last one on November 11th. The parser returns 6 events with the last one on November 10th.

### Steps t

[2019-08-15 09:27] u01jmg3 commented on #230
Closing due to inactivity. Please remember to try the latest version of the parser before raising an issue as the problem may already have been fixed.

[2019-08-15 09:27] #230 closed

[2019-08-15 16:40] #15 closed

[2019-08-18 16:28] u01jmg3 commented on #237
Trying this on the latest version of the parser and I see no issues:

![2019-08-18-17-27-localhost](https://user-images.githubusercontent.com/1266205/63227379-9f890100-c1dd-11e9-8d48-092cf27546bd.png)

[2019-08-18 16:38] #234 closed

[2019-08-22 14:18] fogx commented on #237
yes it seems i did not update to the newest version! Although its strange, since it worked before and i didnt update.
Anyway, it works again now... thanks for your time!

[2019-08-22 14:18] #237 closed

[2019-08-28 14:51] britweb-tim commented on #238
I'm seeing a similar issue here with an iCal feed.  The last event in this series on Sunday 1st September is missing.

[code]

[2019-08-29 13:26] u01jmg3 commented on #238
@s0600204: looks like there is an issue with the code for computing `WEEKLY` `$matchingDays`.

- https://github.com/u01jmg3/ics-parser/blob/master/src/ICal/ICal.php#L1352

[code]

`$frequencyRecurringDateTime->format('W') + 1` fixes the issue but why would the week number be out by `1`?

[2019-08-29 22:57] s0600204 commented on #238
Hmm, yes, I see it.

It seems I need to rethink how to map different week starts onto a method (`setISODate()`) that expects weeks to start on a Monday. :thinking:

The week number is correct - it's `$day` that's potentially incorrect: in the above example it will be `0` (which within `setISODate()` equates to the last day of the week previous to the one identified by the passed week number).

I s

[2019-08-29 22:59] u01jmg3 commented on #238
Almost!

Perfect

[2019-09-02 11:41] pikim commented on #238
The original issue is not fixed, yet. Weekly rules may work now, but s0600204 didn't change anything in the code for daily rules.

[2019-09-02 11:48] u01jmg3 commented on #238
I see 7 events from your iCal:

![2019-09-02-12-46-localhost](https://user-images.githubusercontent.com/1266205/64112612-d6cfe400-cd7f-11e9-8afb-4486e1d26f24.png)

[2019-09-02 12:41] pikim commented on #238
I only see 6 events.

My code
[code]
gives me
![6events](https://user-images.githubusercontent.com/11775849/64115337-a2642400-cd8f-11e9-9ba5-c87e708466ec.png)

For details see: [6events.txt](https://github.com/u01jmg3/ics-parser/files/3566049/6events.txt)

[2019-09-02 13:39] s0600204 commented on #238
May we ask what version of the parser you're currently running?

[2019-09-02 13:47] u01jmg3 commented on #238
I am still getting **7** events as expected:

![2019-09-02-14-29-localhost](https://user-images.githubusercontent.com/1266205/64118794-477efc80-cd90-11e9-88e4-f4097b8057f4.png)

---

Your code is almost identical to the defaults so nothing obviously wrong there. To note `replaceWindowsTimeZoneIds` and `useTimeZoneWithRRules` options are now obsolete and can be removed.

[2019-09-02 14:01] pikim commented on #238
I updated to v2.1.14 via Composer and replaced ICal.php manually with the one from https://github.com/u01jmg3/ics-parser/commit/e0e1b83acfd00fd17dbab0f871cc4f56c350fada just to create the results from my last post. I was on v2.1.13 before.

[2019-09-02 14:28] u01jmg3 commented on #238
To clarify, has [`dev-master`](https://getcomposer.org/doc/articles/aliases.md#branch-alias) (which is effectively what you are using) fixed your problem?

[2019-09-02 15:30] pikim commented on #238
I took my base project (https://github.com/pikim/grav-plugin-events) updated the dependencies and replaced the ICal.php manually.

I didn't try it your way. I'll try to find out how I have to put the lines from your link into my project. I'm not too familiar with Composer, yet.

[2019-09-04 02:53] s0600204 commented on #238
When I try it locally, I too get **7** events.

----

I know nothing about - let alone ever used - [Grav CMS](http://getgrav.org/); but I thought I'd try setting up a basic install to see if perhaps there was some incompatibility with either **Grav** or @pikim's **events plugin** for it.

So, I acquired a copy of the current stable release of **Grav** (`v1.6.15`), along with a copy of the `master`

[2019-09-10 09:32] u01jmg3 commented on #238
@s0600204: thanks for checking things out further!

@pikim: closing this issue for now but happy to re-open if required

[2019-09-10 09:32] #238 closed

[2019-09-10 09:34] u01jmg3 commented on #231
I'm happy with the current implementation so closing for now

[2019-09-10 09:34] #231 closed

[2019-09-10 11:12] britweb-tim opened #240 "Some EXDATE are not excluded as expected"
- PHP Version: `7.3.8`
- PHP date.timezone: `UTC`
- ICS Parser Version: `2.1.15` (dev-master)
- Linux

### Description of the Issue:
EXDATES are not excluded correctly from g-suite calendar iCal feed.

### Steps to Reproduce:

Using the following initialisation for ICal
[code]
The EXDATES from the following ICAL segment are not removed as expected.

In particular the final date `Europe/London:2019

[2019-10-05 18:46] pikim commented on #238
This is strange. I only get 6 events from the input file, never 7. May this be caused by any timezone setting in PHP or any other setting from my hosting provider?

My result from the latest Github code without any modifications looks like this:
![grafik](https://user-images.githubusercontent.com/11775849/66259364-771a8d80-e7b0-11e9-8b99-0828e730dbd8.png)

[2019-10-14 09:14] murraycollingwood commented on #166
Okay - I'm having a problem.  Can we re-open please?

I'm loading the ICS
BEGIN:VEVENT
TRANSP:OPAQUE
DTSTART;TZID=Pacific\/Auckland:20191015T120000
DTEND;TZID=Pacific\/Auckland:20191015T125000
CREATED:20190101T000000Z
UID:E943400B00B5F7-THAZT-05FA
SEQUENCE:737329
SUMMARY:Sample ics
LOCATION:Localhost
DESCRIPTION:Sample
END:VEVENT

I'm trying to get this to a local unix timestamp: I have included t

[2019-10-14 09:19] u01jmg3 commented on #166
@murraycollingwood: please open a **new** issue filling in the issue template so I can properly assess the problem.

[2019-10-14 09:25] murraycollingwood opened #241 "iCalDateToDateTime possibly overlooking timezone"
- PHP Version: `7.1.23`
- PHP date.timezone: `Pacific/Auckland`
- ICS Parser Version: `2.1.15`
- Windows/Mac/Linux: Mac

### Description of the Issue:

The local time loaded from this ICS
When extracted using `iCalDateToDateTime` appears to be correct
When getTimestamp is run the time appears to be in UTC (has it ignored the timezone)?

### Steps to Reproduce:

I'm loading the ICS

[code]

I'm try

[2019-10-14 09:31] murraycollingwood commented on #241
Here is the ICS file I am using.
And the code I'm running.
[samp.ics.log](https://github.com/u01jmg3/ics-parser/files/3723764/samp.ics.log)

And the PHP code:
use ICal\ICal;
$filename = "/Users/murraycollingwood/Downloads/samp.ics";
$data = file_get_contents($filename);
$struc = json_decode( $data, true );
if (isset($struc["SMSDirectoryData"]["timetables"])) {
	foreach ($struc["SMSDirectoryData"][

[2019-10-14 20:57] murraycollingwood commented on #241
I think I have an idea.  Could it be that when you getTimestamp() that you are using the timezone of the computer where the function is being run?  My computer has php.ini setting of Australia/Brisbane which is 3 hours different to Pacific/Auckland and would explain the results I'm getting.

I'm suggesting the getTimestamp() should be using the timezone Auckland/Pacific as specified in the ICS fil

[2019-10-25 20:30] samuelstein opened #243 "Question: Access ctag from ical"
Is there a possibility to access the **ctag** from the ical feed to determine if the calendar has changed?

[2019-10-26 16:25] s0600204 commented on #241
Hi there! What you're seeing is expected behaviour given the input you're providing:

There is no such thing as a "*local* unix timestamp": a "unix timestamp" is, by its definition, *always* UTC. (https://en.wikipedia.org/wiki/Unix_time)

The reason why `strftime()` is giving you a version of the date and time based on your server's timezone - instead of the one specified in the ics file - is beca

[2019-10-26 16:59] s0600204 commented on #243
`ctag` is not a valid iCal component, property, or data value type, so no.

Whilst the parser can read calendar data from a myriad of sources (including URLs), it expects whatever it's passed to contain or point at calendar data directly, not to some API or object dealing with metadata.

[2019-10-27 11:34] #243 closed

[2019-10-27 18:56] murraycollingwood commented on #241
Thanks s0600204, you are absolutely correct.  The timestamp is correct.  The strftime function was using my server's timezone to output the time in my Australia/Brisbane timezone.
I modified my local timezone to Pacific/Auckland and the correct date and time popped out.

Thanks for your help.

[2019-10-27 18:56] #241 closed

[2019-10-31 01:36] dico opened #244 "Timezone issue"
- PHP Version: `7.2.24`
- PHP date.timezone: `Europe/Oslo`
- ICS Parser Version: `2.1.15`
- Linux (Ubuntu)

### Description of the Issue:

Wrong timeformat when using both default ICS sharing from Google calendar and Office 365 Outlook.

### Steps to Reproduce:

1. Generate default ics url from Office 365 Outlook and Google Calendar.

**Output from Google Calendar:**
Correct time should be 20:00 t

[2019-11-05 09:38] arwinvdv opened #245 "With X-WR-TIMEZONE set wrong time is returned"
- PHP Version: `7.2.21`
- PHP date.timezone: `Europe/Brussels`
- ICS Parser Version: `2.1.14`
- Windows/Mac/Linux

### Description of the Issue:
Google Calendar provides `X-WR-TIMEZONE` attributed and a `VTIMEZONE`. When the `X-WR-TIMEZONE` isset it ignores the `VTIMEZONE`. But with the iCal I get from Google the events are one hour to early.

### The ics file:

[code]

### Actual result:

[code]

[2019-11-13 04:56] thisanimus commented on #240
I'm experiencing the same behavior.  For me it's removing all but the last exdate.  It looks like if DTSTART is the same day as the first EXDATE, it does not remove it.

[2019-11-13 12:27] u01jmg3 commented on #240
@s0600204: can you help?

[2019-11-19 22:19] samuelstein commented on #243
okay, this i didn't knew. is there a other common way to detect changes from calendars via caldav?

[2019-12-03 19:06] u01jmg3 commented on #240
Fixed by #246

[2019-12-03 19:06] #240 closed

[2019-12-07 18:13] TheBox193 opened #249 "Week start"
How do I define the week start as Sunday. It appears to be undocumented in the short codes.

[2019-12-07 18:30] TheBox193 commented on #249
Answer:
It uses the Wordpress start of week setting under
Settings > General > Start of Week.

[2019-12-07 18:30] #249 closed

[2019-12-19 08:17] whcrg commented on #244
For me also time zones are not working (calendar exported from google).
Tried with firrefent versions of time zone declarations and also commenting out the 'defaultTimeZone' of the example but nothing seems to affect the result; the example code always gives events in GMT time.

Snapshot of the ics: https://uvkk.kirah.fi/rislointra/basic.ics

Google calendar and my android phone and mac where the

[2020-01-03 02:48] gavinr opened #251 "RRULE:FREQ=WEEKLY - missing first event of the year"
- PHP Version: `7.2.24`
- ICS Parser Version: `2.1.16`
- `Linux`

### Description of the Issue:
If you have an event that repeats weekly, and the original start date is on december 30, the first event of the new year (should be on jan 6) is missed. Example ICS: [example.zip](https://github.com/u01jmg3/ics-parser/files/4017981/example.zip).

![image](https://user-images.githubusercontent.com/209355

[2020-01-04 12:44] arwinvdv opened #252 "Multiple times VTIMEZONE set doesn't work"
- PHP Version: `7.2.21`
- ICS Parser Version: `2.1.15`

### Description of the Issue:
I have a ical from Microsoft and Google with 2 VTIMEZONE's defined. The parser only uses 1 timezone.

### Steps to Reproduce:
1. Use this ical from Microsoft:
[code]
2. The parser doesn't handle the 2 timezones. The 2 events has the same time as output, but they have a different timezone.

[2020-01-11 15:26] Wilkware opened #253 "[Feature Request] Add "Accept-language" to the header options"
It is possible to add a option to pass the accepted language for the request? This would be nice!

Background:

The summary for private appointments will be always printed as "Privat Appointment", but if you pass in the header "Accept-language: de" then you will get "Privater Termin" (german) ;-)

Thanks Heiko

[2020-01-11 16:00] u01jmg3 commented on #253
Sure - feel free to send in a pull request.

[2020-01-13 10:14] #253 closed

[2020-01-14 12:42] vespino opened #255 "script only returning items of first day"
I have been using the script for some time now, but recently I noticed some items not being read by the script. Today again. The following only seems to return appointments that occur tomorrow:

[code]

What could I be overlooking? I'm using version 2.1.16 of this script and different versions of PHP (both 5 and 7) since I'm using it on multiple servers.

Edit 2020/1/15: I did some more testing an

[2020-01-16 23:21] s0600204 commented on #255
Both `filterDaysAfter` and `filterDaysBefore` are expected to be numbers, not Boolean.

`php` implicitly typecasts Boolean `true` to the integer `1`; so in the case above you're telling the ics parser to ignore all events outside +/- 1 day from "today" when loading and parsing the ical file.

[2020-01-17 15:04] #251 closed

[2020-01-17 15:06] u01jmg3 commented on #251
A new release will be coming shortly but `dev-master` should fix your issue

[2020-01-17 15:17] gavinr commented on #251
@u01jmg3 - great - thank you VERY much for looking into this and fixing it!

[2020-01-17 15:53] u01jmg3 commented on #251
Thanks goes to @s0600204

[2020-01-17 19:41] vespino commented on #255
Wow, I totally overlooked that in the example, although I'm certain it was a boolean before because this was working before. Did it change along the way maybe?

[2020-01-18 11:29] #255 closed

[2020-01-18 15:31] s0600204 commented on #255
Looking into it, no: they've been integers since they were added in Nov 2018 (#190).

Ah well, so long as it's now working as expected...

[2020-01-23 23:23] murraycollingwood opened #257 "ICS generator"
I've been successfully using the ICS parser for a couple of years and it's going well.
I'm now needing a library that can generate a compliant ICS file - are you planning an ics-generator library?

[2020-01-23 23:39] u01jmg3 commented on #257
No plans as https://github.com/markuspoerschke/iCal exists and does the job well

[2020-01-23 23:39] #257 closed

[2020-01-30 15:50] nekromoff commented on #244
I can confirm this issue as well for Google. It must have started recently only, because I just found out about it.

[2020-01-30 15:57] nekromoff commented on #244
I have fixed this issue by using `dtstart_tz` instead of `dtend_array[3]` (and same for the end).

[2020-01-30 16:20] u01jmg3 commented on #244
@dico, @whcrg: does the solution suggested by @nekromoff fix your issue?

[2020-03-10 09:59] Satariall opened #260 "ErrorException: Trying to access array offset on value of type bool"
### Description of the Issue:
Function `keyValueFromString` can returns false for the zero matches. In that case the `initLines` function on line 627 goes to crash https://github.com/u01jmg3/ics-parser/blob/master/src/ICal/ICal.php#L627

Simple add behaviour for the false return.

[2020-03-15 18:04] #260 closed

[2020-03-18 14:36] lucianholt97 opened #262 "[Bug] EXDATE not counted in processRecurrences(), leads to unwanted additional events"
- PHP Version: `7.4`
- PHP date.timezone: `Europe/Berlin`
- ICS Parser Version: `dev-master`
- Mac

### Description of the Issue:

The following recurring event (from google cal) results in 5 events instead of 3. The excluded dates were excluded correctly but additional dates were attached to the end of the set since the algorithm does not count excluded events and terminates when `COUNT=5` is rea

[2020-03-20 19:24] u01jmg3 commented on #244
Closing due to a lack of response

[2020-03-20 19:24] #244 closed

[2020-03-20 19:24] u01jmg3 commented on #262
Happy to accept a PR

[2020-03-23 17:00] lucianholt97 commented on #262
@u01jmg3 I am working on it. The official `COUNT` in an `RRULE` should include the excluded events, too. Somehow the existing test `testStartDateIsExdateUsingCount` does not conform with this as the count should be 7. Currently, the (imo wrong) test data has `COUNT=3`, 4 excluded events and results in 3 events.

[2020-03-23 20:10] #262 closed

[2020-05-18 14:46] room34 opened #264 "Undefined offset: 2 in src/ICal/ICal.php on line 1692"
With display_errors on, I have in a previous version run into an undefined offset error in the code that currently appears at line 1692 in src/ICal/ICal.php. Since the code has not been changed in this version, I assume the problem persists. I've previously resolved this by modifying that line with a conditional:

[code]

I just updated to version 2.1.18 and verified that this issue persists in th

[2020-05-18 14:48] u01jmg3 commented on #264
PR welcome :)

[2020-05-19 19:51] #264 closed

[2020-05-21 12:56] nekromoff opened #265 "Trying to access array offset on value of type bool"
- PHP Version: `7.4.6`
- PHP date.timezone: `Slovakia/Bratislava`
- ICS Parser Version: ` 2.1.16`
- Linux

### Description of the Issue:
Stack trace:
[code]

### Steps to Reproduce:
I can not provide imported URL due to privacy reasons. I am able to test whatever, if you have suggestions.

[2020-05-21 12:59] u01jmg3 commented on #265
Have you tried the latest version (`2.1.19`)?

[2020-05-21 13:07] nekromoff opened #266 "Allowed memory size of 134217728 bytes exhausted (tried to allocate 20480 bytes) in Event.php line 198"
After update from 2.6.16 to 2.6.19, issue #265 disappeared

- PHP Version: `7.4.6`
- PHP date.timezone: `Slovakia/Bratislava`
- ICS Parser Version: `2.6.19`
- LInux

### Description of the Issue:
`Allowed memory size of 134217728 bytes exhausted (tried to allocate 20480 bytes) in Event.php line 198`

### Steps to Reproduce:
Importing private URL

[2020-05-21 13:08] nekromoff commented on #265
this disappeared after upgrading to v `2.6.19`, however #266 is new one

[2020-05-21 13:08] #265 closed

[2020-05-21 13:10] nekromoff commented on #266
Maybe related to emojis or HTML entities?

[2020-05-21 13:11] u01jmg3 commented on #266
Without ICS to test against I have no way of working out what the issue is

[2020-05-21 13:13] nekromoff commented on #266
Any tips on how to debug this using break points (debug logs) in `Event.php`?

[2020-05-21 13:15] nekromoff commented on #266
Maybe you will know more, I am doing `print_r($key)` in `__construct`:
[code]
(last STATUS is where it fails)

[2020-05-21 13:16] u01jmg3 commented on #266
I'm going to need some formatting of your output...

[2020-05-21 13:19] u01jmg3 commented on #266
The issue is related to the key part of the key/value pairs in your ICS

[2020-05-21 13:23] nekromoff commented on #266
Yeah, multiple characters in multiple events such as emojis ⚔️🛡️  or non-UTF8 characters for accepted invitations from (I suspect) external systems such as:
[code]

Usually in `SUMMARY` or `DESCRIPTION`

[2020-05-21 13:27] u01jmg3 commented on #266
Where did the ICS data come from? Looks like the encoding has gone awry which makes it extremely difficult to parse as things like newlines are not being represented correctly. This means I don't know where one line ends and another begins.

[2020-05-21 13:38] nekromoff commented on #266
Google calendar, but old and it is possible that some characters are
historically mangled. However, I have been using your library for over a
year now without a glitch like this.

I have now tried to import a different time range and you are right, it
passed with success. I am going to investigate further and report.

On Thu, May 21, 2020 at 3:27 PM Jonathan Goode <notifications@github.com>
wrote:

[2020-05-21 13:41] u01jmg3 commented on #266
Yes please get back to me if you find out specifically what data is tripping things up.

Nothing has changed recently in `Events.php` - last edit made 6 months ago.

In the meantime I will see if I can harden the code to prevent memory issues.

[2020-05-21 13:56] u01jmg3 commented on #266
One thing you could try is applying [this function](https://github.com/u01jmg3/ics-parser/blob/master/src/ICal/ICal.php#L2056-L2065) to [this line](https://github.com/u01jmg3/ics-parser/blob/master/src/ICal/Event.php#L198) in `Event.php`

[2020-05-26 19:05] u01jmg3 commented on #266
@nekromoff: how are you getting on?

[2020-06-04 10:54] nekromoff commented on #266
It was an external event, created by Microsoft calendar, but unfortunately the user deleted it so I can not debug it anymore. After the deletion, this issue has not appeared again.

[2020-06-04 11:01] #266 closed

[2020-08-27 19:19] bars38 opened #268 "defaultTimeZone problem"
Hi, I have changed the parameters here

[code]

But the time of the event didn't change.

What do I do?

[2020-09-21 20:21] s0600204 commented on #268
Hi @bars38, could you perhaps give us:
* An example event of the sort that's not working for you, and
* An idea of what you expected to happen?

[2020-09-28 17:29] u01jmg3 commented on #268
Closing due to inactivity, happen to re-open if necessary

[2020-09-28 17:29] #268 closed

[2020-10-02 06:37] cyberkeiler commented on #266
Hi there. Have the same problem parsing customers ics Export of a google calendar. I'm pretty sure they used emojis or other special characters in their titles & descriptions. Is there any tipp to avoid this error yet? Any manual reformatting?

[2020-10-02 09:05] u01jmg3 commented on #266
@cyberkeiler: as I said before in order to look at fixing this I would need the ICS causing the issue. I would suggest opening a new issue when you have isolated the relevant ICS.

[2020-10-20 16:20] sherpadawan commented on #196
I use ical-expander with fullcalendar in javascript.
Not php anyway.

[2020-10-21 07:57] Sosomqk opened #270 "Can't parse Outlook event descriptions"
I notice Outlook events are always with empty descriptions

[2020-10-21 08:51] u01jmg3 commented on #270
Going to need more info than you have given. Please don't ignore the issue template. Please fill it in.

[2020-11-01 21:16] #270 closed

[2020-11-08 16:55] khalwat opened #273 "Defaults to http/1.0, which is being deprecated"
First, thanks for this library, I've been using it for some time to pull down `.ics` files from https://trello.com and parse them, it's been great!

Recently, however, it started failing with:

[code]

So it looks like Trello is phasing out their use of `http/1.0`, as I would assume many sites are, given that `http/1.1` was released in 1999.

Having a look at [the code](https://github.com/u01jmg3/

[2020-11-08 19:32] khalwat commented on #273
PR added: https://github.com/u01jmg3/ics-parser/pull/274

[2020-11-08 20:04] #273 closed

[2020-11-12 16:17] coatesap opened #275 "Undiscoverable dtstart_tz and dtend_tz properties of Event class"
At the moment, the `dtstart_tz` and `dtend_tz` properties of the `ICal\Event` class are not discoverable by static analysis tools as they are declared dynamically, and hence any access to them will appear as an error in an IDE.

Is there any reason why they can't be declared as permanent properties on the Event class, even if they are nullable?

I'm happy to open a PR for this if that seems reason

[2020-11-12 16:44] u01jmg3 commented on #275
It was added many years prior probably in an attempt to keep things clean and allow a simple `isset()` to be used.

Happy to accept a PR though and we can default to `null`

[2020-11-13 13:14] #275 closed

[2021-03-03 23:26] gulati-ofasi opened #281 "Getting an error bad format P-1D on a file on the system."
- PHP Version: `7.#.#`
- PHP date.timezone: `[Country]/[City]`
- ICS Parser Version: `2.#.#`
- Windows/Mac/Linux

### Description of the Issue:
I have a webcal link that I download to a file called example.ics when I try to parse the file I get the error

`[2021-03-03 23:11:35] dev.DEBUG: Exception: DateInterval::__construct(): Unknown or bad format (P-1D) in /Users/u/code/p/vendor/johngrogg/ics-p

[2021-03-04 18:15] s0600204 commented on #281
Hi there,

The problem seems unconnected to the file you have provided (but thank you for providing it anyway).

Instead, the issue appears to be that you have specified a negative number for `filterDaysBefore`.

[2021-03-04 18:36] gulati-ofasi commented on #281
@s0600204  Thanks for the quick reply . Can you explain filterDaysBefore please .. from my understanding I need to set it like this +/- 1? or just 1?

[2021-03-04 19:51] s0600204 commented on #281
As I understand it:

Calendars, particularly when all recurrence rules are expanded, can be sizable and contain many, many events. There are two points at which the quantity of events returned by the parser can be reduced to keep things manageable, one of these points being the `filterDaysBefore`/`filterDaysAfter` pairing. However, at present, this pair of filters is applied *before* any timezone

[2021-03-07 21:09] craCH opened #282 "Yearly not working"
The following example shows the event every month at the 14th:

BEGIN:VEVENT
DTSTART;VALUE=DATE:20200214
DTEND;VALUE=DATE:20200215
RRULE:FREQ=YEARLY;WKST=MO;INTERVAL=1;BYMONTHDAY=14
DTSTAMP:20210307T210302Z
UID:cgo3ee1lcgsjgb9n6kp30b9k71ijib9ockqj2b9pc5i3gdb168qjechk6k@google.com
CREATED:20200216T100459Z
DESCRIPTION:
LAST-MODIFIED:20200216T100459Z
LOCATION:
SEQUENCE:1
STATUS:TENTATIVE
SUMMARY:Gebu

[2021-03-08 20:39] s0600204 commented on #282
Yes, yes it does: this would be the expected output for that `RRULE`.

If you only wish it to repeat on February 14, either remove the `BYMONTHDAY` stanza or add `BYMONTH=2`.

If you are expecting a different output with that `RRULE`, please state what you expect.

[2021-03-10 07:57] craCH commented on #282
This is the standard ics output from Google Calendar. So I can't change it.

[2021-03-22 10:12] u01jmg3 commented on #281
Closing as an answer has been provided

[2021-03-22 10:12] #281 closed

[2021-03-22 10:13] u01jmg3 commented on #282
Google Calendar does provide recurrence options for repeating events: https://support.google.com/calendar/answer/37115

[2021-03-25 08:46] nekromoff opened #283 "dtend array not initiated for an event"
- PHP Version: `7.4.16`
- PHP date.timezone: `Slovakia/Bratislava`
- ICS Parser Version: `2.2.2`
- Linux

### Description of the Issue:
`$event->dtend_array` does not exist
It should exist for every event, right? Even if empty...

### Steps to Reproduce:
Event dump:
![image](https://user-images.githubusercontent.com/8550349/112444929-dd052700-8d4e-11eb-9a33-29abe290d8b3.png)

[2021-03-25 09:44] u01jmg3 commented on #283
As per the issue template:

[2021-03-25 09:50] nekromoff commented on #283
Since it is a private calendar, this is often not an option. I can however
provide complete object in question (with PII data removed).

On Thu, Mar 25, 2021 at 10:44 AM Jonathan Goode ***@***.***>
wrote:

[2021-03-25 09:58] nekromoff commented on #283
hopefully the whole offending thing from `ics` file (xxxxx = redacted):
[code]

[2021-03-25 10:19] u01jmg3 commented on #283
Thanks - so this is an event without an end date therefore the `dtend_array` key is not created/populated. This is expected.

[2021-03-25 10:30] nekromoff commented on #283
Ok, thanks for the clarification.

On Thu, Mar 25, 2021, 11:20 Jonathan Goode ***@***.***> wrote:

[2021-03-25 10:32] #283 closed

[2021-07-25 09:33] baj84 opened #286 "How to use this with Laravel?"

[2021-07-25 09:44] #286 closed

[2021-09-24 17:20] digi74 opened #287 "VTODO parse?"
how can tasks be read out with it?

[2021-09-24 18:17] #287 closed

[2021-09-30 18:34] antonioperic opened #288 "How to know that parsed url is valid iCAL?"
Hi,

don't know where to ask, so I will try here.

I am using this line of code

`$iCal = new ICal($message->getCalendarUrl());`

and the result is always a valid object. Even if I send 'something' as calendarUrl

example of result

[code]

How I can know that parsed URL, or text is a valid calendar file?

thank you

[2021-10-04 11:44] u01jmg3 commented on #288
Great question - there currently isn't a mechanism for this functionality.

What would you expect? A new property called `isValid` which returns `true` or `false`?

[2022-01-11 19:47] EnigmaSolved opened #293 "Possible Recurrence Rule Processing Bug: Event Appears in Parser that Does Not Exist"
Greetings, thank you so much for creating ics-parser -- it has been super-useful!

I may have encountered a bug (or I may be just misunderstanding something). I have an event (we'll call it "Example" though the real name is different) that repeats at 9am every 4 weeks on a Tuesday. On Monday, January 10 I edited the event to end its repetition (so that it would no longer recur and would not recur

[2022-01-12 02:42] s0600204 commented on #293
Forgive me, I'm curious: @EnigmaSolved, when you say you "edited the event to end its repetition" - was this manually or via MS Outlook's user-interface?

[2022-01-12 12:09] EnigmaSolved commented on #293
Ah, yes, via MS Outlook's user-interface. Great question @s0600204 -- I should have been more clear! :) In Outlook I went into the recurrence settings and set an end date for the recurrence to be prior to Tuesday, January 11. After realizing that the event was still being picked up by ics-parser as having a recurrence on January 11 I tried setting the end date for even earlier (initially I had set

[2022-01-12 16:47] s0600204 commented on #293
Hmm. Seems there's a couple of behaviour quirks within Outlook:

* From the snippet you've given us, the (first) event series was created on 27th August, but the first occurrence isn't until 14th December. Assuming that this event has been running every four weeks since its creation, then this would imply that Outlook has culled (most of the) past occurrences and amended the Recurrence Rule accord

[2022-01-12 17:03] EnigmaSolved commented on #293
I only have a second, but first wanted to say Thank you @s0600204 ! And then add (which I probably should have clarified) that this ics file is generated by Outlook and so is only a subset of the full Outlook calendar, which is probably why some of the weirdness you mention regarding the first occurrence being so recent (because the generated ics is configured to only include a little bit of histo

[2022-01-12 17:41] #293 closed

[2022-01-12 17:42] u01jmg3 commented on #282
Closing due to a lack of activity

[2022-01-12 17:42] #282 closed

[2022-02-14 17:06] clintallan opened #295 "Allow set HTTP Protocol Version"
I am using your package to parse ics files.
I currently have an issue with booking.com feeds.
This is caused by using HTTP protocol 1.1.
If we set it to 1.0 it fixes the issue.
I have a branch locally to fix the issue. This allows you to pass the HTTP protocol version into the initUrl method. Defaults to 1.1 if not passed in.
Happy to push it up and create a PR to resolve it rather than fork the p

[2022-02-14 17:16] u01jmg3 commented on #295
Please PR

[2022-02-14 17:26] clintallan commented on #295
Need access to push

[2022-02-14 17:47] u01jmg3 commented on #295
Closed by #296

[2022-02-14 17:47] #295 closed

[2022-02-16 10:40] QuerCoder opened #297 "Wrong variable name $lastmodified"
### Description of the Issue:
The $lastmodified variable is always empty. Because LAST-MODIFIED is stored in the $last_modified variable. Make a change to the variable name.

[2022-02-16 10:58] u01jmg3 commented on #297
Can you submit a PR with a fix?

[2022-02-16 11:08] #297 closed

[2022-02-28 10:44] u01jmg3 commented on #252
@s0600204: I understand if you're busy but your input would be welcome on this issue

[2022-02-28 10:45] u01jmg3 commented on #245
@s0600204: again I understand if you're busy but your input would be welcome on this issue too

[2022-02-28 20:43] s0600204 commented on #252
The primary issue here can be summed up as a quote from the project's readme:

The timezone named `Customized Time Zone` fails the third requirement.

----

In order to support user-defined timezones, we'd need a way to specify a timezone in a way that PHP's `DateTime` class can understand/use it. In other words: we'd need to take what's defined in a `VTIMEZONE` block and convert it into a `DateTi

[2022-02-28 20:52] s0600204 commented on #245
`dtstart_tz` and `dtend_tz` represent the start and end points of an event local to the "timezone of the calendar". This, of course, requires some determination of what the "timezone of the calendar" *is*.

To do this, the `ics-parser` reads from the (non-standard) `X-WR-TIMEZONE` stanza, which in the ics sample given has a value of `UTC`. Remove this line and the `ics-parser` uses the last-specif

[2022-02-28 21:58] u01jmg3 commented on #245
@s0600204: thank you for the detailed explanation

@arwinvdv: I'm closing this issue in light of the above. I would also recommend reading the attached article - even 11 years on it is still relevant.

[2022-02-28 21:58] #245 closed

[2022-02-28 22:02] u01jmg3 commented on #252
@arwinvdv: in light of the info @s0600204 has kindly provided, at this point in time, I won't be exploring user-defined timezones unless more users are interested in such a feature. However, if you want to put a PR together, I'd be happy to take a look.

[2022-02-28 22:02] #252 closed

[2022-03-03 20:09] josh-philpott-gp opened #298 "Events are excluded when EXDATE == DTSTART"
Hi!

I'm encountering an issue where events are excluded when an EXDATE == DTSTART (see: https://github.com/u01jmg3/ics-parser/issues/240).

According to [RFC5545](https://datatracker.ietf.org/doc/html/rfc5545#section-3.8.5.1), this is a valid event:

      in "DTSTART".  However, in such cases, the original "DTSTART" date
      MUST still be maintained by the calendaring and scheduling system

[2022-03-04 00:09] s0600204 commented on #298
Could you give us an example or excerpt of a calendar file that causes the `ics-parser` to exhibit the behaviour you describe?

Could you also tell us what versions of `php` and the `ics-parser` you are using?

[2022-03-04 21:31] mklemme1 opened #299 "Deprecation notice using PHP 8.1"
I use PHP 8.1.3 and johngrogg/ics-parser (v3.1.0) via composer.

I get a deprecation notice

I understand this will be removed in PHP 9. But perhaps you can have a look at it now anyway.

Thanks

[2022-03-04 21:34] mklemme1 opened #300 "Version specification advice in README needs updating."
On https://packagist.org/packages/johngrogg/ics-parser I read:

SInce version 3.1 is out, shouldn't it be `"johngrogg/ics-parser": "^3"`?

[2022-03-04 21:34] mklemme1 commented on #300
![2022-03-04_22-34](https://user-images.githubusercontent.com/3100268/156844785-85ac1d9e-8181-4be1-ba18-6a7eedad2439.png)

[2022-03-04 23:08] josh-philpott-gp commented on #298
`PHP Version`: 5.6.40
`ICS Parser Version`: dev-master (originally found in 2.1.19 - it looks like this behavior was introduced in 2.1.16)

Here's the relevant portion of the ics file.

[code]

[Full .ics file](https://github.com/u01jmg3/ics-parser/files/8189211/Delete.remaining.reoccurrances.txt)

[2022-03-05 01:40] s0600204 commented on #298
The example you have given generates no events because the `ics-parser` does not currently support Recurrence Rules with Monthly frequency and no `BY{*}` modifiers. [Easily remedied.](https://github.com/u01jmg3/ics-parser/pull/301)

Are there any other examples you know of that exhibit the behaviour you described in the initial report?

[2022-03-05 01:51] s0600204 commented on #300
Indeed it should be.

Feel free to submit a PR - the block comment at the top of `src/ICal/ICal.php` also needs updating.

[2022-03-05 02:07] s0600204 commented on #299
Thank you for bringing this to our attention (for some reason this isn't showing up in my log files despite also running `php 8.1.3`.)

----

Further reading:
* https://www.php.net/manual/en/migration81.deprecated.php#migration81.deprecated.standard
* https://php.watch/versions/8.1/auto_detect_line_endings-ini-deprecated

[2022-03-05 14:44] mklemme1 commented on #300
I am not an expert on this.
I hope the PR is okay

[2022-03-05 15:06] u01jmg3 commented on #298
Relates to #220

[2022-03-05 15:09] u01jmg3 commented on #220
Closed by PR #301

[2022-03-05 15:09] #220 closed

[2022-03-05 15:10] u01jmg3 commented on #298
Closed by PR #301

[2022-03-05 15:10] #298 closed

[2022-03-05 15:17] #299 closed

[2022-03-05 15:17] #300 closed

[2022-03-05 20:28] josh-philpott-gp commented on #298
No, that was it and seems to do the trick. Thank you for taking a look!

[2022-03-10 07:37] lochmueller opened #303 "Decouple file download from "file" call"
Hey everyone,

great parser, and thank you for development. I have problem using file to download external resources by PHP configuration allow_url_fopen=0. Do you think about decouple the download logic from PHP internal file function? Some ideas...

1. Move the fileOrUrl function to a separate class for easier handling/overwriting/patching this class for external developer
2. Or using a widespre

[2022-03-10 10:09] u01jmg3 commented on #303
Hi Tim, happy for you to take this forwards and develop a PR for me and @s0600204 to take a look at. I think option 1 is likely the best option.

[2022-03-15 22:11] ucola opened #304 "Description with HTML Link"
As first, many thanks for this parser! Works fine and fast!

### Description of the Issue:
We have on our description some HTML Code i.e. <a href link from Microsoft Teams. If I check the ics file, it  is inside. Possible that I can read out the description with HTML Code?

### Steps to Reproduce:
Parse a ics file with html code inside the description tag.

[2022-03-19 08:19] ucola commented on #304
I found out, that this aperas in the code bellow. Any idea how to solve this?

[code]

[2022-03-19 12:26] u01jmg3 opened #305 "** Please do not ignore the issue template and instead fill it in! **"
** Please do not ignore the issue template and instead fill it in! **

[2022-03-19 12:27] #305 closed

[2022-03-19 12:30] u01jmg3 commented on #304
As per the issue template which has not been filled in, for me to do any investigation, I need the offending iCal.

With regards to why the `unfold()` method exists, please see [iCalendar RFC 5545](https://icalendar.org/iCalendar-RFC-5545/3-1-content-lines.html).

[2022-03-19 15:40] ucola commented on #304
Thank you for your feedback, I only can send jo the VEVENT. Enought for investigation?

[code]

[2022-03-20 19:10] u01jmg3 commented on #304
I'm a little confused. There's no valid HTML in your description. e.g. `<https://aka.ms/Join
 TeamsMeeting>` is not an "a href link".

[2022-03-20 19:21] ucola commented on #304
hi @u01jmg3 your right, sorry my fault... its not a valid html link and I check it out right now again. The file function (see bellow) strips out some characters from the URL.

`
if (($lines = file($filename, FILE_IGNORE_NEW_LINES | FILE_SKIP_EMPTY_LINES, $context)) === false) {
`

The original ICS contains the string bellow inside the description

[code]

But the $lines contains this string bello

[2022-03-20 20:08] u01jmg3 commented on #304
I'm not quite sure what you expect your chosen browser to render when it's invalid HTML.

If I wrap the output of `printData()` with `htmlspecialchars()`, the description is as expected.

<img width="518" alt="output" src="https://user-images.githubusercontent.com/1266205/159183957-2db1ba1c-3fab-4cd6-a3b1-329ca318e314.png">

[2022-04-13 17:59] tacman opened #306 "Trailing semicolon in RRULE throws a warning"
### Description of the Issue:

ICS: https://amissvillevfr.org/ical.html?from=calendar&id=73874

if the rule has a trailing `;`, `list()` throws a warning, e.g.

"FREQ=MONTHLY;INTERVAL=1;BYDAY=1WE;"

[code]

I'll submit a PR associated with this issue.

[2022-04-14 09:21] #306 closed

[2022-04-14 11:26] tacman opened #308 "Bump minimum version to PHP 7.4"
### Description of the Issue:

We can't update to the latest version of phpunit and support PHP 5.

### Steps to Reproduce:

* Install the latest version of PHP
* run composer install && composer test

[code]

[2022-04-14 12:04] tacman commented on #308
On a related note, I used rector to update the code to PHP 7.4, and it went smoothly.  Although it's not necessary, PHP 7.4 allows for typed properties, which makes static analysis using tool like phpstan easier. Indeed, running phpstan on level 2 showed some issues.  For example

[code]

$duration is marked as a string, but it's obviously an object, and typing it in PHP would ultimately be a bett

[2022-04-17 17:09] kktsvetkov opened #310 "Minor phpdoc change for ICal::parseDuration()"
Hi, the phpdoc for `ICal::parseDuration()` might be off as it states `$duration` is string, while looking at the code it seems to be a `DateInterval` object as its properties are being used such as `$duration->y`:
[code]

[2022-04-17 17:12] kktsvetkov commented on #310
Also, it seems the last argument for `ICal::parseDuration()` is never used. It is `$format` but the only where place `ICal::parseDuration()` is called, it is `null`. Perhaps that last argument can be dropped, as the returned output is a `DateTime` and once you receive that object you can format it as you like.

[2022-04-17 20:28] #308 closed

[2022-04-17 20:31] u01jmg3 commented on #310
See 2c8cf55

[2022-04-17 20:32] #310 closed

[2022-04-17 20:32] u01jmg3 commented on #308
See PR #309, 2c8cf55

[2022-06-14 13:44] roelVerdonschot opened #311 "Outlook ICS failed to open stream: HTTP request failed!"
- PHP Version: `7.4 & 8.1`
- PHP date.timezone: `Europe/Amsterdam`
- ICS Parser Version: `2.1.19 & 3.1.1`
- Mac/Linux

### Description of the Issue:
When adding an outlook ICS link I get the PHP error failed to open stream: HTTP request failed! HTTP/1.1 400

### Steps to Reproduce:

1. Add outlook ICS link
1. Run

[2022-06-14 15:00] roelVerdonschot commented on #311
What more do you need?

[2022-06-14 18:32] gafderks commented on #311
I had the same issue. It seems that Outlook is returning a 400 status because a User-Agent header is missing when the iCal is requested.
I resolved this by downloading the iCal through cURL and then using `initString`.

[code]

[2022-06-14 20:42] roelVerdonschot commented on #311
Thx @gafderks

With the modification below or a way to set the userAgent via the constructor would be a better fix.
`protected $httpUserAgent = 'Mozilla/4.0 (compatible; MSIE 6.0; Windows NT 5.1; SV1)';`

[2022-06-14 21:11] u01jmg3 commented on #311
You can already define a custom user agent: https://github.com/u01jmg3/ics-parser/commit/205afb3

[2022-06-14 21:15] roelVerdonschot commented on #311
Ye but thats not via the constructor. The best fix would be is to add 'httpUserAgent' to the $configurableOptions.

[2022-06-14 22:02] u01jmg3 commented on #311
Feel free to raise a PR

[2022-06-16 08:03] roelVerdonschot commented on #311
@u01jmg3 I created a PR

[2022-07-15 13:57] SamLNL commented on #311
I'm still receiving "failed to open stream: HTTP request failed! HTTP/1.1 400". Any updates on this issue?

[2022-07-15 14:20] u01jmg3 commented on #311
The code is not yet released. Watch out for v3.1.2 or use `dev-master` in the meantime.

[2022-07-15 18:27] u01jmg3 commented on #311
@SamLNL: see [`v3.2.0`](https://github.com/u01jmg3/ics-parser/releases/tag/v3.2.0)